@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}
body{
    background: #ccc;
    font-size: 16px;
    text-align: center;

}



.canvasWrapper {
	position: absolute;
	width: 70%;
	height: 75%;
	top: 22%;
	right: 2%;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}




