@charset "UTF-8";


body{
    margin: 0 0 0 0;		/* マージンなし（後で個別に設定） */
    padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
}

h1#header{
	white-space: nowrap;
	position:absolute;
	top:3%;
	left:39%;
}
div#calendar{
	height:40%;

}
td,th{
	height:30px;
	color: red;
}

.container-fluid {
	width: 100%;
}

.col-9{
	position: relative;
    width: 100%;
    flex: 0 0 75%;
    max-width: 75%;
}

.d-flex {
	display: flex !important;
}

.tuki{
	width: 20%;
	height: 20%;
}

.calender{
	position: relative;
	width: 70%;
	height: 20%;
	top: -650px;
    left: 300px;
}




/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#nextPrevButton {
    position: relative;
}
#nextPrevButton button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#nextPrevButton button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

