@charset "UTF-8";
.ui-tabs-tab .ui-corner-top .ui-state-default .ui-tab .ui-tabs-active .ui-state-active {
	width: 50%;
}
        #tabs{
        width: 1100px;
        height: auto;/*幅*/
        padding: 0;
        margin: auto;
        }
        .dailyRegistForm {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        height: 100%;
        border: 10px;
        margin: 0 0 0px;
        padding: 10px,15px;
        box-sizing: border-box;
        font-size: 14px;
        }
        #tabs form {/*formの四角の中身に対する変更*/

        background: #FFFFFF;
        max-width: 100%;/*幅*/
        max-height: auto;/*高さ*/
        margin: 0 auto;
        padding: 25px;/*padding..テキストと四角の間*/
        text-align: left;/*テキスト中央ぞろえ*/
        /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);影 */
	    }
        #tabs form input{
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 45%;
        border: 10px;
        margin: 5px;
        padding: 6px ;
        box-sizing: border-box;
        font-size: 14px;
        }
         /*inputタグの、name属性が" "のものに適応*/
         /* #tabs form input[name="dailyName"] {
         	margin: 0 25%;
         } */
         #tabs form input[name="itemPrice"]{
            width: 42%;
        }
         #tabs form input[name="itemVolume"]{
            width: 30%;
        }
         #tabs form input[name="dailyUnit"]{
            width: 12%;
        }
        #tabs form input[name="itemMemo"]{
            width: 92.5%;
        }
         #tabs form input[name="itemFreq"]{
			width: 40%;
        }

        #tabs form select{
        font-family: "Roboto", sans-serif;
        outline: 1;
        position: relative;
            left: 936px;
        background: #f2f2f2;
        width: 5%;
        border: 8px;
        margin: 0px;
        padding: 5px;
        box-sizing: flex;
        font-size: 14px;
        }
        #tabs form button{
        font-family: "Roboto", sans-serif;
  		outline: 0;
  		background-color: rgba(48, 64, 38, 0.9);

  		width: 100px;
        height: 30px;
  		border: 0;
  		padding: 5px;
  		color: #FFFFFF;
  		font-size: 14px;
        text-align: center;/*テキスト ぞろえ*/
  		-webkit-transition: all 0.3 ease;
  		transition: all 0.3 ease;
  		cursor: pointer;
  		border-radius: 15px;
  		margin: 5% 0 0 47%;
  		transform: translateX(-50%);
        }

        #tabs form .errorMessage{
		color: #FF0000;
		font-size: 10px;
		padding: 0px;
		text-align: left;/*テキスト ぞろえ*/
		/*position: absolute;*/
	 		top: 160px;
	 		left: 500px;
	    }
